<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated typhonml -->
      <package
            uri="http://org.typhon.dsls.typhonml.sirius"
            class="typhonml.TyphonmlPackage"
            genModel="model/typhonml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated typhonmlreq -->
      <package
            uri="http://org.typhon.dsls.typhonml.req"
            class="typhonmlreq.TyphonmlreqPackage"
            genModel="model/typhonmlreq.genmodel"/>
   </extension>

</plugin>
